@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 213, 225, 239;
  --background-start-rgb: 213, 225, 239;
  --background-end-rgb: 213, 225, 239;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 213, 225, 239;
    --background-start-rgb: 213, 225, 239;
    --background-end-rgb: 213, 225, 239;
  }
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
    background-color: 213, 225, 239;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
